:root{
    font-family: "Roboto", sans-serif;
    --grey: #f0f0f0
}

body{
    display: flex;
    margin: 0;
    height: 100vh;
}

.image-container{
    position: relative;
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

img{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.logo{
    background-color: black;
    height: 10rem;
    opacity: 0.6;
    color: white;
    font-size: 3vw;
    font-weight: 500;
    text-align: center;
}

.credit{
    background-color: black;
    height: 2rem;
    opacity: 0.6;
    color: white;
    font-size: 0.8vw;
    text-align: center;
}

.credit>a{
    color: white;
}

.form-container{
    flex: 3;
    background-color: var(--grey);
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: 100%;
}

.action-call{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    height: 35vh;
    padding-left: 3rem;
    padding-right: 5rem;

}
.action-call>p{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-size: 2vw;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-left: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 5rem;
    box-shadow: 0px 3px 10px -5px;
    background-color: white;
}

.name, .contact-data, .password-data{
    display: flex;
    gap: 5rem;

}

.form-field{
    display: flex;
    flex-direction: column;
}

label{
    font-size: 1vw;
}

input{
    border-radius: 5px;
    font-size: 1vw;
    width: 16rem;
}

#email:valid{
    border-color: green;
    border-width: 3px;
    outline: none;
}

#email:focus:invalid{
    outline: none;
    border-color: red;
    border-width: 3px;
}

#first-name:valid{
    border-color: green;
    border-width: 3px;
    outline: none;
}

#last-name:valid{
    border-color: green;
    border-width: 3px;
    outline: none;
}

#phone-number:valid{
    border-color: green;
    border-width: 3px;
    outline: none;
}

#phone-number:focus:invalid{
    border-color: red;
    border-width: 3px;
    outline: none;
}

.login-field{
    padding-top: 2rem;
    padding-left: 3rem;
    padding-right: 5rem;
}

.button{
    border: none;
    background-color: #3b6b11;
    border-radius: 10px;
    width: 14rem;
    height: 3rem;
    font-size: 1vw;
    font-weight: 600;
    color: white;
    cursor: pointer;
}

.button:active{
    background-color: #2b4d0d;
    border-style: solid;
    border-color: black;
}

.login-field>p{
    font-size: 1vw;
}