

body{
    display: flex;
    margin: 0;
}

.image-container{
    position: relative;

    flex: 2;
}

img{
    width: 100%;
    position: absolute;
    z-index: -1;
}

.logo{
    background-color: black;
    height: 10rem;
    opacity: 0.6;
}

.form-container{
    flex: 3;
    padding-left: 3rem;
    display: flex;
    flex-direction: column;
}

.action-call{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1rem;
    height: 20vh;
}
.action-call>p{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-size: 2rem;
    font-family: "Roboto", sans-serif;
}